audioread==3.0.1
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
contourpy==1.1.1
coverage==7.6.1
cycler==0.12.1
decorator==5.1.1
fonttools==4.53.1
idna==3.8
importlib-metadata==8.4.0
importlib-resources==6.4.4
joblib==1.4.2
kiwisolver==1.4.5
lazy-loader==0.4
librosa==0.10.2.post1
llvmlite==0.41.1
matplotlib==3.7.5
msgpack==1.0.8
music21==9.3.0
numba==0.58.1
numpy==1.24.4
packaging==24.1
pandas==2.0.3
pillow==10.4.0
platformdirs==4.2.2
pretty_midi==0.2.10
pooch==1.8.2
pyaudio==0.2.14
pycparser==2.22
pyFluidSynth==1.3.3
pyparsing==3.1.4
python-dateutil==2.9.0.post0
requests==2.32.3
scikit-learn==1.3.2
scipy==1.10.1
simple-pid==2.0.1
six==1.16.0
soundfile==0.12.1
soxr==0.3.7
threadpoolctl==3.5.0
typing-extensions==4.12.2
urllib3==2.2.2
zipp==3.20.1
# for test coverage reports
coverage
# VoiceCommand seems to rely on transformers (as for now, I'll have requirements install the latest version)
# however, transformers depends on PyTorch or TensorFlow, may have to discuss if they are needed for the project
transformers
# may need for this project's cicd
pylint