name: Lint Python Code with Pylint

on:
  push:
    branches:
      - backend
  pull_request:
    branches:
      - main  # Runs the workflow on pull requests to the main branch

jobs:
  lint:
    runs-on: ubuntu-latest # now only on ubuntu-latest

    steps:
      # Checkout the repository code
      - name: Checkout code
        uses: actions/checkout@v3

      # Set up Python environment
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.8'  # Specify the Python version you are using

      # Install dependencies
      - name: Install dependencies
        run: |
          sudo apt install portaudio19-dev python3-pyaudio          
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # Install pylint
      - name: Install pylint
        run: pip install pylint
      
      # C0114: Missing module docstring
      # C0115: Missing class docstring
      # C0116: Missing function or method docstring
      # C0411: wrong-import-order
      # Run pylint on the code with above rules disabled
      - name: Run pylint
        working-directory: backend
        run: |
          pylint **/*.py --rcfile=.pylintrc

      # Show results in the logs
      - name: Print greeting
        run: |
          echo "Linting completed on ubuntu-latest" 